<html>
	<head>
		<title>Todo API</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
      		<div class="jumbotron mt-3">
				<h1>To-Do API</h1>
				<p class="lead">Use this API for Calendar, E-mail, Reminders, To-Do Web Apps</p>
				<a class="lead" href="/api/todos"> /api/todos </a>
			</div>
		</div>
	</body>
</html>